@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,600;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Poppins";
}

ul.dropdown {
    z-index: 999;
  }

p {
    font-size: 14px;
}